{% load static %}
<section id="contact" class="navbar-is-white text-white section pp-scrollable position-absolute"
 style="background-image:url('{% static 'app/img/bg/bg.jpg'%}');">
	<div class="intro">
		<div class="scroll-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2 class="text-white">Contact me</h2>
						<!-- <p class="text-muted">Have an idea or a concept that really excite you? What are you waiting for? let's turn your idea into a great product.</p> -->
						<p class="text-muted">I will help you build your brand and grow your business.</p>
						<h4 class="text-white mt-5 pt-5">
							<ion-icon class="contact-icons" name="location-outline"></ion-icon>
							Topater & German Busch.<br>Bermejo, Bolivia.
						</h4>
						<h4 class="text-white">
							<ion-icon class="contact-icons" name="logo-whatsapp"></ion-icon>
							<a href="https://wa.link/fgkvj1" target="_blank">+591 72900865</a>
						</h4>
						<h4 class="text-white mt-3">
							<ion-icon class="contact-icons" name="mail-open-outline"></ion-icon>
							<a href="mailto:info@diegoosvaldo.me">info@diegoosvaldo.me</a>
						</h4>
					</div>
					<div class="col-md-5 offset-md-2">
						<h3 class="text-white mt-0">I'm ready to bring your ideas to life. <span class="text-primary">Shoot
								me a message.</span></h3>
						<div class="mt-5">
							<form class="js-ajax-form" action="https://formspree.io/f/mwkwaaly">
								<div class="form-group">
									<input type="text" name="name" id="name" class="form-control" placeholder="Name">
								</div>
								<div class="form-group">
									<input type="email" name="_replyto" id="_replyto" class="form-control" required=""
									 placeholder="Email *">
								</div>
								<div class="form-group">
									<textarea rows="3" name="message" id="message" class="form-control" placeholder="Message"></textarea>
								</div>
								<div class="message" id="success-message">Your message is successfully sent...</div>
								<div class="message" id="error-message">Sorry something went wrong</div>
								<div class="form-group mb-0">
									<button type="submit" class="btn">Send</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>