{% load static %}
<section id="about" class="navbar-is-white text-white section pp-scrollable d-flex align-items-center position-absolute" style="background-image:url('{% static 'app/img/bg/bg.jpg'%}');">
    <div class="intro">
        <div class="scroll-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 pr-md-5 pr-lg-0">
                        <div class="text-white mb-4">About me!</div>
                        <h2 class="text-white">My name is Diego Osvaldo. I'm a <span class="text-primary">Backend Developer</span> based in Bermejo, BO.</h2>
                        <p>I started my journey as a <span class="text-primary">programmer</span> more than 20 years ago at my school, then at university and finally in real life, I currently have the privilege of working as a <span class="text-primary">freelance</span> for agencies in Argentina and the United States.</p>
                        <p>I'm <span class="text-primary">passionate</span> about new technologies and learning new things, I have some years of experience developing (sometimes designing) Websites, Apps, APIs and others digital products, mainly with <span class="text-primary">Python</span> and <span class="text-primary">Django</span> Web Framework.</p>
                    </div>
                    <div class="mt-md-0 col-md-6 col-lg-5  offset-lg-1">
                        <div class="position-relative">
                            <img class="perfil w-100" src="{% static 'app/img/about.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>