{% load static %}
<section id="experience" class="navbar-is-white text-white section pp-scrollable d-flex align-items-center position-absolute" style="background-image:url('{% static 'app/img/bg/bg.jpg'%}');">
    <div class="intro">
        <div class="scroll-wrap">
            <div class="container">
                <h2 class="text-white mb-0">Experience & Projects</h2>
                <div class="mt-5 pt-5">
                    <div class="carousel-experience owl-carousel">
                        <div class="experience-item">
                            <div class="row row-experience">
                                <div class="col-md-4">
                                    <a href="http://savant-tech.com/" target="_blank">
                                        <img alt="" src="{% static 'app/img/savant.jpg'%}">
                                    </a>
                                </div>
                                <div class="col-md-4 ">2021 - 2022
                                    <h3 class="my-0 text-white">Full-Stack Developer</h3>
                                    <span>Freelance - Savant-Tech, EE.UU.</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="text-primary">
                                        <a href="https://eureka.diegoosvaldo.xyz/" target="_blank">Logger21</a>
                                    </span> - Time tracking app to help your team be more productive.<br>
                                </div>
                            </div>
                            <div class="row row-experience">
                                <div class="col-md-4">
                                    <a href="http://bluebamboo.com.ar/" target="_blank">
                                        <img alt="" src="{% static 'app/img/bluebamboo.png'%}">
                                    </a>
                                </div>
                                <div class="col-md-4 ">2020 - 2022
                                    <h3 class="my-0 text-white">Backend Developer</h3>
                                    <span>Freelance - Bluebamboo, Argentina.</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="text-primary">
                                        <a href="http://iiep.econ.uba.ar/" target="_blank">IIEP</a>
                                    </span> - Interdisciplinary Institute of Political Economy of Buenos Aires<br>
                                    <span class="text-primary">
                                        <a href="http://mesi.webiiep.econ.uba.ar/" target="_blank">MESi</a>
                                    </span> - Economic Simulation Models<br>
                                    <span class="text-primary">
                                        <a href="http://dia.webiiep.econ.uba.ar/" target="_blank">DIA</a>
                                    </span> - Development, Innovation and Environment
                                </div>
                            </div>
                        </div>
                        <div class="experience-item">
                            <div class="row row-experience">
                                <div class="col-md-4">
                                    <a href="https://observatoriomedico.org.bo/" target="_blank">
                                        <img alt="" src="{% static 'app/img/observatorio.png'%}">
                                    </a>
                                </div>
                                <div class="col-md-4 ">2019 - 2020
                                    <h3 class="my-0 text-white">Full-Stack Developer</h3>
                                    <span>SIB, Bolivia.</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="text-primary">
                                        <a href="https://observatorio.diegoosvaldo.xyz/" target="_blank">COVID/19</a>
                                    </span> - Covid Medical Observatory<br>
                                </div>
                            </div>
                            <div class="row row-experience">
                                <div class="col-md-4">
                                    <a href="http://twitter.com/doctsystems" target="_blank">
                                        <img class="exp" alt="" src="{% static 'app/img/doctsystems.png'%}">
                                    </a>
                                </div>
                                <div class="col-md-4 ">2017 - 2020
                                    <h3 class="my-0 text-white">Web Developer</h3>
                                    <span>Doct Systems, Bolivia.</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="text-primary">
                                        <a href="https://jaguarete.diegoosvaldo.xyz/" target="_blank">JaguaShop</a>
                                    </span> - MVP ecommerce, developmented witch Python/Django<br>
                                    <span class="text-primary">
                                        <a href="" target="_blank">GeoTja</a>
                                    </span> - Project to report incidents within the city of Tarija, Bolivia.<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>