{% load static %}

<section id="home" class="home navbar-is-white text-white pp-scrollable d-flex align-items-center section position-absolute" style="background-image:url('{% static 'app/img/bg/me.jpg'%}');" role="main">
	<div class="intro">
		<div class="scroll-wrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-xl-5">
						<p class=""></p>
						<h1 class="text-white"><span class="text-primary text-typed a-typed a-typed-about">Hello,</span> I'm Diego Osvaldo.</h1>Freelance - Backend Developer - Passionate GIS Developer
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>