{% load static %}
<section id="home" class="home navbar-is-white text-white pp-scrollable d-flex align-items-center section position-absolute" style="background-image:url('{% static 'app/img/bg/me.jpg'%}');" role="main">
    <div class="intro">
        <div class="scroll-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <p class=""></p>
                        <h1 class="text-white">
                            <span class="text-primary">Hello, </span>I'm Diego Osvaldo.
                        </h1>
                        <p class="">Freelance - Backend Developer - Passionate GIS Developer</p>
                        <div class="line"></div>
                        <a class="btn mt-5 text-dark" href="/media/pdf/newCV.pdf" target="_blank">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>