{% load static %}
<nav id="navbar-desctop" class="navbar navbar-desctop">
    <div class="position-relative w-100">
        <!-- Brand-->
        <a class="navbar-brand logo" href="/">
            <img id="logo" class="logo" alt="dodo" data-img1="{% static 'app/img/logo2.png' %}" data-img2="{% static 'app/img/logo.png' %}" />
        </a>
        <!-- <div class="container d-block">
            <span class="phone  my-0 d-none d-md-block">+591 72900865</span>
            <span class="email  my-0 d-none d-md-block">d.cruz@outlook.com</span>
        </div> -->
        <!-- Toggler -->
        <button class="toggler">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
        </button>
    </div>
</nav>
<nav class="navbar-bottom">
    <!-- Copyright -->
    <div class="copy d-none d-sm-block">Copyright © 2021. Made with
        <ion-icon class="copy-icons" name="heart-circle-outline"></ion-icon>
    </div>
</nav>
<!-- Navbar Mobile -->
<nav class="navbar navbar-mobile">
    <ion-icon class="close" name="close-outline"></ion-icon>
    <ul class="navbar-nav navbar-nav-mobile">
        <li class="active"><a class="nav-link active" data-menuanchor="home" href="#home">Home</a></li>
        <li><a class="nav-link" data-menuanchor="about" href="#about">About</a></li>
        <li><a class="nav-link" data-menuanchor="experience" href="#experience">Experience</a></li>
        <li><a class="nav-link" data-menuanchor="skills" href="#skills">Skills</a></li>
        <li><a class="nav-link" data-menuanchor="contact" href="#contact">Contact</a></li>
    </ul>
    <!-- Social -->
    <div class="social">
        <ul class="social-icons mr-auto mr-lg-0 d-sm-block">
            <li><a class="nav-link" href="https://linkedin.com/in/diegoosvaldocruz/" target="_blank">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li><a href="https://twitter.com/diegocruztorrez" target="_blank">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li><a href="https://github.com/doctsystems" target="_blank">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-mobile-footer">
        <p>Copyright © 2021. Made with
            <ion-icon class="copy-icons" name="heart-circle-outline"></ion-icon>
        </p>
    </div>
</nav>