{% load static %}

<section id="skills" class="navbar-is-white text-white section pp-scrollable d-flex align-items-center position-absolute" style="background-image:url('{% static 'app/img/bg/bg.jpg'%}');">
	<div class="intro">
	  <div class="scroll-wrap">
	  	<div class="container">
	    	<div class="row align-items-center">
	      	<div class="mt-lg-0 col-lg-5 offset-lg-1">
		        <h2 class="text-white">Hard Skills</h2>
		        <p>Here are a few things I've picked up along my life.</p>
	    			<div class="mt-4 pt-2">
	    	  		<div class="progress-item">
	        			<div class="row">
	          			<h6 class="text-white col-md-6 mt-0">html5 & css3 & js</h6>
	        			</div>
	        			<div class="progress mb-4">
	        				<div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
	        				</div>
	      				</div>
	    				</div>
					    <div class="progress-item">
					        <div class="row">
					        	  <h6 class="text-white col-md-6 mt-0">python & django & flask</h6>
					    	    </div>
					        <div class="progress mb-4">
					          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
					        </div>
					    </div>
				      <div class="progress-item">
				        <div class="row">
				        	  <h6 class="text-white col-md-6 mt-0">geodjango & leaflet</h6>
				    	    </div>
				        <div class="progress mb-4">
				          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
				        </div>
				      </div>
				      <div class="progress-item">
				        <div class="row">
				        	  <h6 class="text-white col-md-6 mt-0">react & node.js</h6>
				    	    </div>
				        <div class="progress mb-4">
				          <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
				        </div>
				      </div>
				      <div class="progress-item">
				        <div class="row">
				        	  <h6 class="text-white col-md-6 mt-0">git & github</h6>
				    	    </div>
				        <div class="progress mb-4">
				          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				        </div>
				      </div>
	      		</div>
	    		</div>
	    		<div class="mt-lg-0 col-lg-5 offset-lg-1">
	    			<h2 class="text-white">Soft Skills</h2>
		        <p class="text-muted"><i>"Optimism is the faith that leads to success. Nothing can be done without hope and trust" </i>. Helen Keller.</p>
		        <p>I am quite an optimistic person, I always try to see the positive side of things, I trust my qualities and I am not afraid of facing new challenges or changes that come my way.</p>
		        <p>Qualities or defects:
		        	<ul>
		        		<li><h5 class="text-white text-muted">
		        			<i class="soft-skill">outgoing</i>
		        			<i class="soft-skill">assertive</i>
		        			<i class="soft-skill">trustworthy</i>
		        		</h5></li>
		        		<li><h5 class="text-white text-muted">
		        			<i class="soft-skill">sociable</i>
		        			<i class="soft-skill">teamwork</i>
		        			<i class="soft-skill">creative</i>
		        		</h5></li>
		        		<li><h5 class="text-white text-muted">
		        			<i class="soft-skill">assertive</i>
		        			<i class="soft-skill">self-taught</i>
		        			<i class="soft-skill">honest</i>
		        		</h5></li>
		        		<li><h5 class="text-white text-muted">
		        			<i class="soft-skill">willingness to learn</i>
		        		</h5></li>
		        	</ul>
		        </p>
          </div>
	    	</div>
	   	</div>
		</div>
	</div>
</section>